<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogme - Blog Page</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> <% if (locals.blogs) { %>
    <!-- Display all blogs in database -->
    <div class="container mt-3 d-flex flex-wrap">
      <% blogs.forEach(blog => { %>
      <div class="card m-4" style="min-width: 200px ; width: 18rem">
        <div class="ratio ratio-4x3">
          <img
            src="<%= blog.coverImage %>"
            class="card-img-top"
            alt="..."
            style="object-fit: cover"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title mb-3"><%= blog.title %></h5>
          <p class="blockquote-footer">
            By <%= blog.createdBy ? blog.createdBy.fullName : "Unknown Author"
            %>
          </p>
          <a href="blog/<%= blog._id %>" class="btn btn-primary">Read</a>
        </div>
      </div>
      <% })%>
    </div>
    <% } else { %>
    <h2 class="m-5 text-center">No Blogs to show right now....</h2>
    <% } %> <%- include('./partials/script.ejs') %>
  </body>
</html>
