<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogme - Login</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>

    <%- include('./partials/nav') %>


    <h2 class="m-5 text-center">Login</h2>

    <% if (locals.message) { %>
    <div class="alert alert-success m-5" role="alert">
      <%= locals.message %>
    </div>
    <% } %>

    <% if (locals.error) { %>
    <div class="alert alert-danger m-5" role="alert">
      <%= locals.error %>
    </div>
    <% } %>

    <!-- Login Form -->
    <form class="m-5" action="/user/login" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
